body {
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #e9ecef;
    color: #102f64;
    padding: 20px;
}

.conteudo {
    display: flex;
    width: 100%;
    min-height: 500px;
}

nav {
    background-color: #f1f3f5;
    color: white;
    padding: 20px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    width: 70%;
    height: 200px;
}

main {
    width: 60%;
    background-color: #ffffff;
    color: #000000;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    margin-top: 0;
    text-align: center;
}

section {
    background-color: #e9ecef;
    padding: 15px 40px;
    margin-top: 30px;
    border-radius: 8px;
    text-align: center;
    color:#000000;
}

section h1 {
    margin: 0;
    color:#000000
}

section:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.logohead {
    display: flex;
    align-items: center;
    position: relative;
}

.logohead img {
    height: 100px;
}

.logohead h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

a {
    color: #e9ecef;
}
footer {
    background-color: #051650;
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.vasco {
    background-color: #ced2d4;
    color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.vasco a{
    color: #ced2d4;
}
.vasco span{
    color: #000000;
}